<!DOCTYPE html>
<html lang="en">
  <head <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Home</title>
      <style type="text/css">
      header {
        background-color: brown;
      }
      html {
        height: 100%;
      }
      a {
        text-decoration: none !important;
      }

      a:hover {
        color: #ffaf53 !important;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #151515;
        font-weight: 600;
        font-family: "Open Sans", sans-serif;
        margin: 0;
      }
      main {
        color: #888888;
        font-size: 15px;
        font-family: "Poppins", sans-serif;
        height: 100%;
        overflow-x: hidden;
      }
      footer {
        background-color: brown;
      }
      p {
        line-height: 1.6;
        font-weight: 400;
        margin: 0;
      }

      h1 {
        font-size: 40px;
</head>

  <body>
    <header class="header2">
      <nav>
        <a href="home.html">Home</a>&nbsp;
        <a href="#">contact</a>&nbsp;
        <a href="about.html">About</a>&nbsp;
      </nav>
    </header>
    <main>
      <pr>
        Primuoba Hills, Prideland, Nigeria
        <br />
        <a href="https://www.pridemyhero.com">pride-myhero@pridemyhero.com</a
        ><br />
        <a href="https://facebook.com/carrotevents">facebook.com/pridelandokoi</a
        ><br />
        <a href="https://twitter.com/CE">twitter.com/pridemyhero</a><br />
        <a href="https://Instagram.com/c-events">Instagram.com/pridelandokoi</a>
        <br />
        
      </pr>
    </main>

    <footer>
      <center>
        &copy; Copyright 2022 Created and Maintained by Prideland Okoi
      </center>
    </footer>
  </body>
</html>

-- INSERT --

